.pointer {
  cursor: pointer;
}

thead {
  background: #233b9d;
  color: white;
}
.material-icons {
  color: #233b9d;
}

.modal-header {
  background-color: #233b9d;
  color: white;
}

.pointer {
  cursor: pointer;
}
.material-icons-custom {
  color: white;
}
.span {
  color: white;
}
