<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div>
  <table class="table container">
    <thead>
      <tr>
        <th scope="col">CAB</th>
        <th scope="col">NAG</th>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Dettagli</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clients">
        <th scope="row">{{ c.cab }}</th>
        <td>{{ c.nag }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.dataNascita }}</td>

        <td *ngIf="c.confermato == true; else elseBlock">
          <label
            data-toggle="tooltip"
            data-placement="right"
            title="Clicca per visualizzare i dettagli"
            class="ml-2"
          >
            <span
              data-toggle="modal"
              (click)="checkClient(c)"
              data-target="#confermato"
              class="material-icons mt-2 ml-2 pointer"
            >
              task_alt
            </span>
          </label>
        </td>
        <ng-template #elseBlock>
          <label
            data-toggle="tooltip"
            data-placement="right"
            title="Clicca Per Confermare Cliente"
            class="ml-2"
          >
            <span
              data-toggle="modal"
              (click)="checkClient(c)"
              data-target="#nonConfermato"
              class="material-icons mt-4 ml-4 pointer"
            >
              search
            </span>
          </label></ng-template
        >
      </tr>

      <modal-confirmed [nome]="nome" [codice]="codice"> </modal-confirmed>

      <modal-unconfirmed
        [nag]="nag"
        [nome]="nome"
        [dataNascita]="dataNascita"
        [telefono]="telefono"
        [email]="email"
        [privacy1]="privacy1"
        [privacy2]="privacy2"
        [privacy3]="privacy3"
        [privacy4]="privacy4"
        [privacy5]="privacy5"
        [privacy6]="privacy6"
        [firma]="firma"
      >
      </modal-unconfirmed>
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel2"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-dialog-zoom modal-sm"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Attenzione</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Sei sicuro di voler confermare?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#nonConfermato"
                data-dismiss="modal"
              >
                Annulla
              </button>
              <button
                type="button"
                class="btn btn-dark"
                data-dismiss="modal"
                data-toggle="modal"
                data-target="#confermato"
                (click)="conferma()"
              >
                Conferma
              </button>
            </div>
          </div>
        </div>
      </div>
    </tbody>
  </table>

  <paginator></paginator>
</div>
