<!--Userform-->
<form action="" class="form-group">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-3">
        <select
          name=""
          id=""
          class="form-control"
          [(ngModel)]="filiali.id"
          name="branch"
        >
          <option value="" hidden>Seleziona Filiale</option>
          <option *ngFor="let b of branches" [value]="b.id">
            {{ b.nome }}
          </option>
        </select>
      </div>

      <div class="col-2">
        <input
          type="text"
          required
          name="nag"
          [(ngModel)]="clienti.nag"
          #nag="ngModel"
          placeholder="NAG"
          class="form-control ml-4"
        />
      </div>
      <div class="col-2">
        <input
          type="text"
          [(ngModel)]="clienti.nome"
          name="nome"
          required
          placeholder="Nome"
          class="form-control ml-4"
          #nome="ngModel"
          [disabled]="!nag.valid"
        />
      </div>
      <div class="col-3">
        <input
          type="date"
          [(ngModel)]="clienti.dataNascita"
          name="dataNascita"
          class="form-control ml-4"
          [disabled]="!nome.valid"
        />
      </div>
      <div class="col-2">
        <button
          class="btn btn-primary ml-2"
          [disabled]="!nag.valid"
          (click)="findClients()"
        >
          Cerca Clienti
        </button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="errore">
  <div class="container">
    <p class="text-center p-error">{{ message }}</p>
  </div>
</div>
<div *ngIf="!errore">
  <usertable [clients]="clients"></usertable>
</div>
<!--Userform-->
