<div
  class="modal fade"
  id="confermato"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-2" id="exampleModalLongTitle">
          Cliente {{ nome }} confermato
        </h5>
        <label
          data-toggle="tooltip"
          data-placement="right"
          title="Chiudi"
          class="ml-2"
        >
          <span data-dismiss="modal" class="material-icons pointer">
            clear
          </span></label
        >
      </div>
      <div class="modal-body text-center">
        <h3 class="text-center mt-3">
          Codice Univoco assegnato : {{ codice }}
        </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Chiudi
        </button>
      </div>
    </div>
  </div>
</div>
