@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css");
.navbar-tt {
  background-color: #233b9d;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(
    linear,
    left top,
    left bottom,
    from(#233b9d),
    to(#233b9d)
  );
  background-image: -moz-linear-gradient(top, #233b9d, #233b9d);
  background-image: -ms-linear-gradient(top, #233b9d, #233b9d);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #233b9d),
    color-stop(100%, #233b9d)
  );
  background-image: -webkit-linear-gradient(top, #233b9d, #233b9d);
  background-image: -o-linear-gradient(top, #233b9d, #233b9d);
  background-image: linear-gradient(#233b9d, #233b9d);
  border-color: #233b9d #233b9d hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.navbar-tt .navbar-nav > .active > a,
.navbar-tt .navbar-nav > .active > a:hover,
.navbar-tt .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-tt .navbar-collapse,
.navbar-tt .navbar-form {
  border-color: #ffcc00;
  border-style: none;
  color: #4c4c4c;
}

.navbar-lwr {
  top: 0px;
  position: relative;
  display: block;
  margin-right: 0px;
}
.navbar-uppr {
  display: flex;
  margin-top: 30px;
}
.navbar-brand {
  float: none;
  padding-top: 2px;
  height: 50px;
  display: block;
}
.navbar-brand > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fa-fw {
  width: 0.8em;
}
@media (min-width: 768px) {
  .navbar-uppr {
    margin-top: 0px;
  }

  .navbar-lwr {
    top: 45px;
    position: relative;
    display: block;
    margin-right: -325px;
  }
  .nav-tt > li {
    border-top: thin #5a0008 none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fa-fw {
    width: 1.28571429em;
  }
}
.pointer {
  cursor: pointer;
}
