<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body align-content-center">
          <div class="login-icon text-center">
            <img
              height="200px"
              src="https://www.senigallianotizie.it/articoli/2015/02/logo-bcc.jpg?badd6b"
              alt=""
            />
            <div *ngIf="loginError">
              <div class="container">
                <p class="text-center p-class">{{ loginErrorMessage }}</p>
              </div>
            </div>
          </div>
          <form class="form-signin">
            <div class="form-group">
              <input
                type="email"
                id="inputEmail"
                placeholder="Email address"
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="credentials.username"
                required
                ngModel
                name="username"
                #username="ngModel"
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control mt-4"
                placeholder="Password"
                required
                type="password"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                [(ngModel)]="credentials.password"
                required
                ngModel
                name="password"
                #password="ngModel"
              />
            </div>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase mt-4"
              type="button"
              (click)="login()"
              [disabled]="!username.valid || !password.valid"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
