/* You can add global styles to this file, and also import other style files */
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #233b9d !important;
}

.ngx-pagination .current:hover {
  background: #233b9d !important;
}
