<div
  class="modal fade"
  id="nonConfermato"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Nome Cliente - {{ nome }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Nag</h5>
        {{ nag }}

        <h5>Nome di Battesimo</h5>
        {{ nome }}

        <h5>Data di Nascita</h5>
        {{ dataNascita }}

        <h5>Numero di telefono</h5>
        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="telefono"
            name="telefono"
          />
          <label class="form-check-label" htmlFor="telefono">
            <p>Telefono: {{ numeroTelefono }}</p>
          </label>
        </div>

        <h5>Email</h5>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="email"
            name="email"
          />
          <label class="form-check-label" htmlFor="email">
            <p>{{ email }}</p>
          </label>
        </div>

        <h5>Privacy</h5>
        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy1"
            name="privacy1"
          />
          <label class="form-check-label" htmlFor="privacy1">
            <p *ngIf="privacy1 == true; else falso">Privacy 1: Si</p>
          </label>
          <ng-template #falso><p>Privacy 1: No</p></ng-template>
        </div>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy2"
            name="privacy2"
          />
          <label class="form-check-label" htmlFor="privacy2">
            <p *ngIf="privacy2 == true; else falso">Privacy 2: Si</p>
          </label>
          <ng-template #falso><p>Privacy 2: No</p></ng-template>
        </div>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy3"
            name="privacy3"
          />
          <label class="form-check-label" htmlFor="privacy3">
            <p *ngIf="privacy3 == true; else falso">Privacy 3: Si</p>
          </label>
          <ng-template #falso><p>Privacy 3: No</p></ng-template>
        </div>
        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy4"
            name="privacy4"
          />
          <label class="form-check-label" htmlFor="privacy4">
            <p *ngIf="privacy4 == true; else falso">Privacy 4: Si</p>
          </label>
          <ng-template #falso><p>Privacy 4: No</p></ng-template>
        </div>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy5"
            name="privacy5"
          />
          <label class="form-check-label" htmlFor="privacy5">
            <p *ngIf="privacy5 == true; else falso">Privacy 5: Si</p>
          </label>
          <ng-template #falso><p>Privacy 5: No</p></ng-template>
        </div>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="privacy6"
            name="privacy6"
          />
          <label class="form-check-label" htmlFor="privacy6">
            <p *ngIf="privacy6 == true; else falsoo">Privacy 6: Si</p>
          </label>
          <ng-template #falsoo><p>Privacy 6: No</p></ng-template>
        </div>

        <div class="form-check form-check-wrapper">
          <input
            class="form-check-input"
            type="checkbox"
            id="firma"
            name="firma"
          />
          <label class="form-check-label" htmlFor="firma">
            <p *ngIf="firma == true; else falsooo">Firma: Si</p>
          </label>
          <ng-template #falsooo><p>Firma: No</p></ng-template>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Chiudi
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#exampleModal2"
        >
          Conferma
        </button>
      </div>
    </div>
  </div>
</div>
