.checkBox {
  margin-top: 5px;
  margin-left: 2%;
}
.form-check-wrapper input {
  order: 2;
}
.form-check-wrapper label {
}
.form-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 70px;
}
.form-check-input {
  position: relative;
}

.modal-header {
  background-color: #233b9d;
  color: white;
}

.pointer {
  cursor: pointer;
}
.material-icons-custom {
  color: white;
}
.span {
  color: white;
}
h5 {
  color: #233b9d;
  margin-left: 20px;
}
.h5 {
  color: white;
}
.p {
  margin-left: 20px;
}
