.checkBox {
  margin-top: 5px;
  margin-left: 4%;
}
.form-check-wrapper input {
  order: 2;
}
.form-check-wrapper label {
  order: 1;
}
.form-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.form-check-input {
  position: relative;
}
.modal.fade .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0) scale(0.5);
  transform: translate(0, 0) scale(0.5);
}
.modal.show .modal-dialog.modal-dialog-zoom {
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}
.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.ma-ta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
