
<h2 class="ml-4 mt-4">Ricerca clienti</h2>
<button type="button" class="btn btn-outline-danger" (click)="logout()">Logout</button>

<div class="container">
<div class="row">
      <form action="" class="form-group form-inline " >
       <select    name="" id="" class="form-control"  [(ngModel)]="filiali.id"  name="branch">
          <option  *ngFor="let b of branches" [value]="b.id">{{b.nome}}</option>
        </select>
        <input type="text" [(ngModel)]="clienti.nag" name="nag" placeholder="NAG" class="form-control ml-4"/>
        <input type="text" [(ngModel)]="clienti.nome" name="nome"  placeholder="Nome" class="form-control ml-4"/>
        <input type="date" [(ngModel)]="clienti.dataNascita" name="dataNascita" placeholder="Data Di Nascita" class="form-control ml-4"/>
        <button class="btn btn-primary ml-2" (click)="findClients()">Cerca Clienti</button>
      </form>
      
    </div> 
  
  </div>

     <table class="table container">
      <thead>
        <tr>
          <th scope="col">Cab</th>
          <th scope="col">NAG</th>
          <th scope="col">Nome</th>
          <th scope="col">Data</th>
          <th scope="col">Dettagli</th>
      

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of clients">
          <th scope="row">{{c.cab}}</th>
          <td>{{c.nag}}</td>
          <td>{{c.nome}}</td>
          <td>{{c.dataNascita}}</td>
         
          <td *ngIf="c.confermato == true; else elseBlock"><button class= "btn btn-primary" data-toggle="modal"  (click)="checkClient(c)" data-target="#confermato">Confermato</button></td>
          <ng-template #elseBlock><button class= "btn btn-primary" data-toggle="modal" data-target="#nonConfermato" (click)="checkClient(c)">Non Confermato</button></ng-template>

        </tr>
      
        <div class="modal fade" id="confermato" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cliente {{nome}} confermato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >
              <h5>Codice Cliente : {{codice}}</h5>
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="nonConfermato" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cliente {{nome}} Non Confermato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"  >
              
              
                  
                    <h5>Nag</h5>
                    {{nag}}
                  
                   
                    <h5>Nome di Battesimo</h5>
                    {{nome}}
                
                   
                    <h5>Data di Nascita</h5>
                    {{dataNascita}}
                 
                    <h5>Numero di telefono</h5>
                    <div class="form-check form-check-wrapper">
                      <input
                        class="form-check-input "
                        type="checkbox"
                        id="telefono"
                        name="telefono"
                      />
                      <label  class="form-check-label" htmlFor="telefono">
                        <p >Telefono: {{numeroTelefono}}
                       </p>
                      </label>
                      
                      
                    </div>
                 
                   
                    <h5>Email</h5>
                 
                    <div class="form-check form-check-wrapper">
                      <input
                        class="form-check-input "
                        type="checkbox"
                        id="email"
                        name="email"

                      />
                      <label class="form-check-label" htmlFor="email">
                        <p > {{email}}
                       </p>
                      </label>
                      
                    </div>
                  
                  
                  <h5>Privacy</h5>
                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy1"
                      name="privacy1"

                    />
                    <label class="form-check-label" htmlFor="privacy1">
                      <p *ngIf="privacy1 == true;else falso">privacy1:
                     Si</p>
                    </label>
                    <ng-template #falso><p>privacy1: No</p></ng-template>
                  </div>
                
                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy2"
                      name="privacy2"

                    />
                    <label class="form-check-label" htmlFor="privacy2">
                      <p *ngIf="privacy2 == true;else falso">privacy2:
                     Si</p>
                    </label>
                    <ng-template #falso><p>privacy2: No</p></ng-template>
                  </div>

                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy3"
                      name="privacy3"

                    />
                    <label class="form-check-label" htmlFor="privacy3">
                      <p *ngIf="privacy3 == true;else falso">privacy3:
                     Si</p>
                    </label>
                    <ng-template #falso><p>privacy3: No</p></ng-template>
                
                  </div>
                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy4"
                      name="privacy4"

                    />
                    <label class="form-check-label" htmlFor="privacy4">
                      <p *ngIf="privacy4 == true;else falso">privacy4:
                     Si</p>
                    </label>
                    <ng-template #falso><p>privacy4: No</p></ng-template>
                  </div>

                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy5"
                      name="privacy5"

                    />
                    <label class="form-check-label" htmlFor="privacy5">
                      <p *ngIf="privacy5 == true;else falso">privacy5:
                     Si</p>
                    </label>
                    <ng-template #falso><p>privacy5: No</p></ng-template>
                  </div>

                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="privacy6"
                      name="privacy6"

                    />
                    <label class="form-check-label" htmlFor="privacy6">
                      <p *ngIf="privacy6 == true;else falsoo">privacy6:
                     Si</p>
                    </label>
                    <ng-template #falsoo><p>privacy6: No</p></ng-template>
                  </div>

                  <div class="form-check form-check-wrapper">
                    <input
                      class="form-check-input "
                      type="checkbox"
                      id="firma"
                      name="firma"

                    />
                    <label class="form-check-label" htmlFor="firma">
                      <p *ngIf="firma == true;else falsooo">firma:
                     Si</p>
                    </label>
                    <ng-template #falsooo><p>firma: No</p></ng-template>
                  </div>
                  
              
                </div>
              
              <div class="modal-footer" >
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#exampleModal2">Conferma</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-zoom modal-sm" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attenzione</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" >
        Sei sicuro di voler confermare?
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#nonConfermato" data-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="conferma()">Conferma</button>
      </div>
    </div>
  </div>
</div>